.cartsection{
    width : 95%;
    margin: auto;
  }
  
  .cartsection .cartproduct{
    height: 35vh;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 2fr 1fr 3fr;
    border-bottom: 1px solid gray;
  }
  .cartsection .cartproduct .cartImage{
    height: 30vh;
    margin-left: 30px;
    display: flex;
    justify-content: center;
  }
  .cartsection .cartproduct .cartImage img{
    height: 30vh;
    width: auto;
  }
  .cartdescription{
    text-align: left;   
  }
  .cartdescription .price{
    margin-top: 5px;
  }
  .cartdescription h1{
    font-weight: 500;
    font-family: sans-serif;
  }
  .cartdescription p{
    font-size: 1rem;
  }
  .cartdescription span{
    color: red;
    font-size: 1.2rem;
  }
 
  .cartdescription button{
    height: 5vh;
    width: 7vw;
    font-size: large;
    font-weight: 600;
    background-color: #ea405e;
    color: white;
    margin: 4px 5px 0 5px;
  }
  .cartdescription .quantity button{
  height: 22px;
    width: 29px;
    font-weight: 600;
    background-color: #ea405e;
    color: white;
    border-radius: 48%;
  }