*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
  list-style: none;
}
img{
  width: 100%;
}
a{
  text-decoration: none;

}
.products__container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
 
}
.products{
  display: flex;
  gap:1rem;
 
}
.filterSection{
  min-width: 200px;
}


/* footer */

.Footerbody{
  background-color: rgb(222, 233, 233);
  font-size: 100%;
}

hr{
  width: 100%;
  font-size: 1px;
  margin-bottom: 2%;
}

.Footerclass{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 14%;
  margin-right: 14%;
padding-bottom: 5%;
}

.Footerclassdiv1{
 width: 19%;
 margin-top: 3%;
 margin-left: 1%;
 cursor: pointer;
  text-align: left;
  color: rgb(100, 100, 108);
  /* line-height: 10px; */
}

.colorblack{
  color: black;
}


.footer5{
 
  width: 70%;
  display: flex;
  justify-content:center;
  padding-bottom: 2%;
  margin-left: 15%;
}

.bottom{
  color: rgb(100, 100, 108);
}


@media screen and (max-width: 922px) {
  .Footerclass{
     
      display: grid;
      grid-template-columns: repeat(2,1fr);
      flex-direction: row;
      margin-left: 14%;
      margin-right: 14%;
    
  }

  
.Footerclassdiv1{
  width: 45%;
}

.footer4{
  margin-top: 17%;
  margin-left: 5%;
  width: 100%;
}
}



