*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
  list-style: none;
}
img{
  width: 100%;
}
a{
  text-decoration: none;

}
.products__container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
 
}
.products{
  display: flex;
  gap:1rem;
 
}
.filterSection{
  min-width: 200px;
}

/* header */
header{
  height: 9vh;
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
  border: 0;
  box-shadow:  1px 3px 34px rgb(232 232 232);
}
nav{
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo{
  height: 10vh;
  width: auto;
}
.logo img{
  height: 80%;
  width: auto;
}


.nav-menu ul{
  list-style : none;
  display: flex;
}
.nav-menu ul li{
  padding: 0 22%;
}
.nav-menu ul  a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* filter page */
.home{
 
  margin: auto;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.filterSection{
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  position: sticky;
  top: 14vh;
  left: 0;
}
.filterSection .filterheading{
  margin: 0 -15px;
}
.filterSection h4{
  font-weight: 300;
  color: rgb(77, 76, 76);
  margin: 15px 0 8px 0;
}

.gender-category, .product-category, .sorting-section{
  font-size: 0.9rem;
  font-weight: 300;
  color:rgb(85, 85, 85);
  margin: 3px 10px;
}
.gender-category input, .product-category input, .sorting-section input{
  margin: 5px;
}
.product-category{
  margin-top: 25px;
}

/* cart */
.cart__container img{
  width: 50px;
}
.item__count{
  position: absolute;
  right: 4%;
  top: 4%;
  color: red;
}

/* Product */

.prod-photo{
  display: grid;
 grid-template-columns: 150px 150px;
 grid-template-rows: 200px 200px;
 margin-top: 80px;
 margin-left: 40px;
}
.prod-photo img{
  height: 200px;
  width: 150px;
  padding: 3px;
}
.prod-size{
  width: 140px;
  display: flex;
  justify-content: center;


}
.prod-size span{
  margin: 2%;
  height: 30px;
  width: 30px;
  background: rgb(232 227 217);
  color: red;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.cartBtn{
 
  height: 40px;
  width: 200px;
  background: #d62d2d;
  color: white;
  border: 1px solid black;
  font-size: medium;
}
.cartBtn:hover{
  border: 2px solid rgb(237, 243, 235);
  cursor: pointer;
}
.prod-modal{
  display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 6%;
}


/* cart */
.cartsection{
  width : 95%;
  margin: auto;
}

.cartsection .cartproduct{
  height: 35vh;
  display: grid;
  margin-top: 30px;
  grid-template-columns: 2fr 1fr 3fr;
  border-bottom: 1px solid gray;
}
.cartsection .cartproduct .cartImage{
  height: 30vh;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}
.cartsection .cartproduct .cartImage img{
  height: 30vh;
  width: auto;
}
.cartdescription{
  text-align: left;   
}
.cartdescription .price{
  margin-top: 5px;
}
.cartdescription h1{
  font-weight: 500;
  font-family: sans-serif;
}
.cartdescription p{
  font-size: 1rem;
}
.cartdescription span{
  color: red;
  font-size: 1.2rem;
}
.cartdescription .size{
  margin-top: 20px;
}
.cartdescription button{
  height: 5vh;
  width: 7vw;
  font-size: large;
  font-weight: 600;
  background-color: #ea405e;
  color: white;
  margin: 30px 5px 0 5px;
}

/* Search bar */

.searchBar {
  height: 6vh;
  padding: 4%;
  width: 25vw;
  background-color: #e8e5e5;
  border-radius: 4px;
}

/* products */

.products__container{
  border-left: 1px solid black;
  padding: 3%;
}

.item__name{
  color: black;
}
.item__desc{
  color: #726565;
}
.item__finalprice{
  color: black;
  margin-right: 4%;
}
.item__strickprice{
  color: #564444;
  margin-right: 4%;
}
